@use "../../modules/funcs.module";
@use "../../modules/typography.module";
@use "../../modules/units.module";

.button {
  padding: 0 funcs.px-rem(40);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: funcs.px-rem(8);

  background: none;
  border: none;
  outline: none;

  transition: 0.16s ease-in-out;

  box-shadow: none;

  &:hover {
    box-shadow: 0 funcs.px-rem(5) funcs.px-rem(7) rgba(37, 37, 37, 0.15);
  }
  &:active {
    box-shadow: inset 0 funcs.px-rem(3) funcs.px-rem(7) rgba(37, 37, 37, 0.15);
  }

  @include typography.button-inner {
    color: var(--text-primary);
  }
}

.fullWidth {
  width: 100%;
}

.medium {
  height: units.$medium;
}

.large {
  height: units.$large;
}

.contrast {
  background: var(--text-primary);
  color: var(--text-contrast);

  &::selection {
    background: var(--text-contrast);
    color: var(--text-primary);
  }
  &::-moz-selection {
    background: var(--text-contrast);
    color: var(--text-primary);
  }
}

.inherit {
  background: var(--background);
  &::selection {
    background: var(--text-primary);
    color: var(--text-contrast);
  }
  &::-moz-selection {
    background: var(--text-primary);
    color: var(--text-contrast);
  }
}

.primary {
  background: var(--primary);
  color: var(--text-contrast);
  &::selection {
    background: var(--text-contrast);
    color: var(--text-primary);
  }
  &::-moz-selection {
    background: var(--text-contrast);
    color: var(--text-primary);
  }
}
