@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  list-style: none;
}

img {
  display: block;
}

html,
body {
  font-size: 100%;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

:root {
  --text-contrast: #fff;
  --text-primary: #252525;
  --text-secondary: #939393;

  --primary: #e0bea2;
  --background: #fff;
}

body {
  background: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
p,
q,
img,
input {
  &::selection {
    background: var(--text-contrast);
    color: var(--text-primary);
  }
  &::-moz-selection {
    background: var(--text-contrast);
    color: var(--text-primary);
  }
}

h1:not(.contrast-selection),
h2:not(.contrast-selection),
h3:not(.contrast-selection),
h4:not(.contrast-selection),
h5:not(.contrast-selection),
h6:not(.contrast-selection),
a:not(.contrast-selection),
span:not(.contrast-selection),
p:not(.contrast-selection),
q:not(.contrast-selection),
img:not(.contrast-selection),
input:not(.contrast-selection) {
  &::selection {
    background: var(--text-primary);
    color: var(--text-contrast);
  }
  &::-moz-selection {
    background: var(--text-primary);
    color: var(--text-contrast);
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
